<a href="https://colab.research.google.com/github/yash3056/python/blob/master/AI%2CML%20%26%20DL/Day%202/Day_2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Day 2 :- Assignment On Functions, Conditions, Loops**

**Save the File with Your Name_RollNumber and Upload on Classroom**



> Add blockquote

Q1: Check number
Given an integer n, find if n is positive, negative or 0.
If n is positive, print "Positive"
If n is negative, print "Negative"
And if n is equal to 0, print "Zero".

In [ ]:
#solution
n=int(input("Enter a number:"))
if n>0:
  print("Positive")
elif n<0:
  print("Negative")
else:
  print("Zero")

Enter a number:-98
Negative

Q2: Sum of n numbers
Given an integer n, find and print the sum of numbers from 1 to n.

In [ ]:
#Solution
n=int(input("Enter a number:"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

Enter a number:8
36

Q3: Sum of Even Numbers
Given a number N, print sum of all even numbers from 1 to N.

In [ ]:
#Solution
n=int(input("Enter a number:"))
sum=0
for i in range(0,n+2):
  if i%2==0:
    sum=sum+i
  else:
    continue
print(sum)

Enter a number:8
20

Q4: Reverse of a number
Write a program to generate the reverse of a given number N. Print the corresponding reverse number.
Note : If a number has trailing zeros, then its reverse will not include them. For e.g., reverse of 10400 will be 401 instead of 00401.

In [ ]:
#Solution
n=int(input("Enter a number:"))
n=str(n)[::-1]
n=int(n)
print(n)

Enter a number:080030
3008

Q5: Nth Fibonacci Number
Provided 'n' you have to find out the n-th Fibonacci Number. Example: Input: 6

Output: 8

In [ ]:
def nth_fibonacci(n):
  if n < 2:
    return n
  else:
    return nth_fibonacci(n-1) + nth_fibonacci(n-2)

n = int(input("Enter the number of terms: "))
print(nth_fibonacci(n))

Enter the number of terms: 18
2584

Q6: Fibonacci Member
Given a number N, figure out if it is a member of fibonacci series or not. Return true if the number is member of fibonacci series else false.

In [ ]:
def is_fibonacci(n):
  a, b = 0, 1
  while b < n:
    a, b = b, a + b
  return b == n

n = int(input("Enter a number: "))
if is_fibonacci(n):
  print("Yes, the number is a member of the Fibonacci series.")
else:
  print("No, the number is not a member of the Fibonacci series.")

Enter a number: 2584
Yes, the number is a member of the Fibonacci series.

Q7: Write a Python function to find the maximum of three numbers.

In [ ]:
#Solution
def max_of_three(a, b, c):
  if a >= b and a >= c:
    return a
  elif b >= a and b >= c:
    return b
  else:
    return c

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

print("Maximum of three numbers is", max_of_three(a, b, c))

Enter first number: 7
Enter second number: 8
Enter third number: 9
Maximum of three numbers is 9.0

Q8: Write a Program to calculate simple interest using function interest() that received principal amount, time and rate and returns calculated simple interest.

In [ ]:
def interest(p, t, r):
  return (p * t * r) / 100

p = float(input("Enter principal amount: "))
t = float(input("Enter time: "))
r = float(input("Enter rate: "))

print("Simple interest is:", interest(p, t, r))

Enter principal amount: 9
Enter time: 8
Enter rate: 7
Simple interest is: 5.04

Q9: WAP to accept three integers and print the largest of the three

In [ ]:
#Solution
def largest(a, b, c):
  if a >= b and a >= c:
    return a
  elif b >= a and b >= c:
    return b
  else:
    return c

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

print("Largest of three numbers is", largest(a, b, c))

Enter first number: 7
Enter second number: 8
Enter third number: 9
Largest of three numbers is 9

Q9: WAP that inputs three numbers and print sum of non-duplicate numbers. Duplicate numbers are ignored

In [ ]:
def sum_of_non_duplicates(a, b, c):
  sum = 0
  if a != b and a != c:
    sum += a
  if b != a and b != c:
    sum += b
  if c != a and c != b:
    sum += c
  return sum

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

print("Sum of non-duplicate numbers is", sum_of_non_duplicates(a, b, c))

Enter first number: 1
Enter second number: 2
Enter third number: 3
Sum of non-duplicate numbers is 6

Q10: WAP to display a menu for calculating area of circle or perimeter of circle

In [ ]:
#Solution
def area_of_circle(r):
  return 3.14 * r * r
def perimeter_of_circle(r):
  return 2 * 3.14 * r
menu = """
1. Area of Circle
2. Perimeter of Circle
Enter your choice: """
choice = int(input(menu))
if choice == 1:
  r = float(input("Enter radius: "))
  print("Area of Circle is:", area_of_circle(r))
  print("Thank you")
elif choice == 2:
  r = float(input("Enter radius: "))
  print("Perimeter of Circle is:", perimeter_of_circle(r))
  print("Thank you")
else:
  print("Invalid choice")

1. Area of Circle
2. Perimeter of Circle
Enter your choice: 2
Enter radius: 5
Perimeter of Circle is: 31.400000000000002
Thank you

Q11: WAP that reads three numbers and prints them in ascending order

In [ ]:
#Solution
def ascending_order(a, b, c):
  return sorted([a, b, c])
print(ascending_order(3, 1, 2))

[1, 2, 3]

Q12: WAP that prints sum of natural numbers between two numbers taken as input

In [ ]:
#Solution
def sum_of_natural_numbers(a, b):
  sum = 0
  for i in range(a, b + 1):
    sum += i
  return sum
print(sum_of_natural_numbers(1, 10))

55

Q13: WAP to calculate factorial of a number

In [ ]:
#Solution
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)
print(factorial(5))

120

Q14: WAP to input a number and test if it is a prime number or not

In [ ]:
#Solution
def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True
print(is_prime(17))

True

Q15: WAP to take String line as input and display following stats: Number of uppercase letters, Number of lowercase letters, Number of alphabets and Number of Digits

In [3]:
#Solution
def string_stats(input_string):
    # Initialize counters
    num_uppercase = 0
    num_lowercase = 0
    num_alphabets = 0
    num_digits = 0

    # Iterate through each character in the string
    for char in input_string:
        if char.isupper():
            num_uppercase += 1
            num_alphabets += 1
        elif char.islower():
            num_lowercase += 1
            num_alphabets += 1
        elif char.isdigit():
            num_digits += 1

    # Print the results
    print(f"Number of uppercase letters: {num_uppercase}")
    print(f"Number of lowercase letters: {num_lowercase}")
    print(f"Number of alphabets: {num_alphabets}")
    print(f"Number of digits: {num_digits}")
print(string_stats("Hello, World!"))

Number of uppercase letters: 2
Number of lowercase letters: 8
Number of alphabets: 10
Number of digits: 0
None

Q16: WAP to reads a line and a substring and display number of occurences of the given substring  in the line

In [4]:
#Solution
def count_substring_occurrences(line, substring):
    count = line.count(substring)
    print(f"Number of occurrences of '{substring}': {count}")
line = input("Enter a line of text: ")
substring = input("Enter the substring to search for: ")
count_substring_occurrences(line, substring)

Enter a line of text: hello world
Enter the substring to search for: hel
Number of occurrences of 'hel': 1

Q17: WAP that takes a string with multiple words and then capitalize the first letter of each word and forms a new string out of it

In [7]:
string = 'hey my'
retval = ' '.join(x.title() for x in string.split())
print(retval)

Hey My

#  **Practice Question**


1. Write a program to perform following list operations on the list given below:

a) Check the length of list1
b) Check the membership of '24' in list1
c) Concatenate the list1 and list2
d) Repeat the list2 three times

In [11]:
#Check the length of list1
list1 = [1, 2, 3, 4, 5, 24]
print(len(list1))

#Check the membership of '24' in list1
print(24 in list1)

#Concatenate the list1 and list2
list2 = [6, 7, 8, 9, 10]
print(list1 + list2)

# Concatenate the list1 and list2
list2 = [6, 7, 8, 9, 10]
print(list1 * 3)

# Repeat the list2 three times
print(list2 * 3)

6
True
[1, 2, 3, 4, 5, 24, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 24, 1, 2, 3, 4, 5, 24, 1, 2, 3, 4, 5, 24]
[6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

 2. Write the program to multiply the two lists

Lists to perform multiplication:

list1 = [1, 2, 3, 4]

list2 = [0, 5, 2, 1]

In [13]:
list1 = [1, 2, 3, 4]

list2 = [0, 5, 2, 1]

result = [x * y for x, y in zip(list1, list2)]

print(result)

[0, 10, 6, 4]

3. Write a code to retrieve elements from a list

a. First element
b. Second last element
c. First three elements
d. Slice the list from 1st index till the last index with an increment of an index by 2

In [15]:
list1 = ['Python', 1, 2, 3, 'Data', True]
#First element
print(list1[0])
#Second last element
print(list1[-2])
#First three elements
print(list1[:3])
#Slice the list from 1st index till the last index with an increment of an index by 2
print(list1[1::2])

Python
Data
['Python', 1, 2]
[1, 3, True]


4. Write a program to perform following built-in list operations:

a. Min(list)
b. Max(list)
c. Sort the elements (use sort() and sorted() function)
d. Create a copy of a list
e. Remove element '5' from the list

In [ ]:
list1 = [4, 5, 7, -2, 0, 1]

# a. Min(list)
print(min(list1))

# b. Max(list)
print(max(list1))

# c. Sort the elements (use sort() and sorted() function)
# Using sort() - modifies the original list
list1.sort()
print(list1)

# Using sorted() - creates a new sorted list
sorted_list = sorted(list1)
print(sorted_list)

# d. Create a copy of a list
list_copy = list1.copy()
print(list_copy)

# e. Remove element '5' from the list
list1.remove(5)
print(list1)

 5. Manipulating a list:

a. Add a new element 'Data' in the given list
b. Add elements 'Excel' and 'Data' in the given list
c. Replace an element 'C' with 'C++' in the given list

Use the below list

list1 = ['R', 'Python', 'C', 'Java']

In [16]:
list1 = ['R', 'Python', 'C', 'Java']

# a. Add a new element 'Data' in the given list
list1.append('Data')
print(list1)

# b. Add elements 'Excel' and 'Data' in the given list
list1.extend(['Excel', 'Data'])
print(list1)

# c. Replace an element 'C' with 'C++' in the given list
index_of_C = list1.index('C')
list1[index_of_C] = 'C++'
print(list1)

['R', 'Python', 'C', 'Java', 'Data']
['R', 'Python', 'C', 'Java', 'Data', 'Excel', 'Data']
['R', 'Python', 'C++', 'Java', 'Data', 'Excel', 'Data']

## Other question are of tuple and dictionary